compile-cmd.txt
build/Micro Center Account Dashboard - Account Settings - Add Address - XS.html
build/Micro Center Account Dashboard - Account Settings - Add Payment Method - XS.html
build/Micro Center Account Dashboard - Account Settings - XS.html
build/Micro Center Account Dashboard - Order History - XS.html
build/Micro Center Account Dashboard - XS.html
build/Micro Center Your Favorites - XS.html
build/MicroCenter_Build_Separate_CSS.zip
build/script.js
build/assets/css/bootstrap.min.css
build/assets/css/style.min.css
build/assets/images/digicert.png
build/assets/images/logo.svg
build/assets/images/profile-image.png
build/assets/images/icons/barcode-read-regular.svg
build/assets/images/products/fav-1.png
build/assets/images/products/fav-2.png
build/assets/images/products/product_1_platinum.png
build/assets/images/products/product_2.png
build/assets/images/products/product_img.png
